@model ServiceCategoryInput
@{
    var isNew = Model.Id == null;
}
<div class="modal fade" id="add-update-service-category" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-white rounded-3 overflow-hidden shadow">
            <form method="post" asp-route-type="serviceCategory">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CreatedAt" />
                <div class="d-flex align-items-center justify-content-between px-3 py-2 bg-color-theme">
                    <h5 class="fw-bold text-white mb-0 p-0">@(isNew ? "Add New Service Category" : "Update Service Category")</h5>
                    <i class="fa-solid fa-xmark text-white fs-5 clickable" data-bs-dismiss="modal"></i>
                </div>
                <div class="mb-3 p-3">
                    <div class="mb-2">
                        <label asp-for="Title" class="text-body-secondary mb-1 fw-semibold"></label><span class="text-danger">*</span>
                        <input asp-for="Title" class="form-control" placeholder="Enter here..." />
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="IconName" class="text-body-secondary mb-1 fw-semibold"></label><span class="text-danger">*</span>
                        <input asp-for="IconName" class="form-control" placeholder="Enter here..." />
                        <span class="text-danger" asp-validation-for="IconName"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="Description" class="text-body-secondary mb-1 fw-semibold"></label><span class="text-danger">*</span>
                        <textarea class="form-control" placeholder="Enter here..." asp-for="Description">
                        </textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                   
                </div>
                <div class="d-flex align-items-center justify-content-end gap-2 me-3 mb-4">
                    <button type="reset" class="btn btn-light color-theme">Cancel</button>
                    <button type="submit" class="btn-color-theme btn-c-sm mb-1 btn-sm text-white">@(isNew ? "Submit" : "Update") <i class="fa-solid @(isNew?"fa-plus":"fa-pen")"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

