@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div id="identity-form" class="shadow p-lg-5 p-md-5 p-3 rounded-2 bg-white">
    <h4 class="text-center fw-bold mb-4 color-theme">Enter Your Email</h4>
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <form method="post">
        @Html.AntiForgeryToken()
        <div class="mb-4">
            <label asp-for="Input.Email" class="fw-semibold color-theme"></label><span class="text-danger fw-bold">*</span>
            <div class="position-relative identity-input">
                <i class="fa fa-envelope text-body-tertiary position-absolute"></i>
                <input asp-for="Input.Email" class="w-100" placeholder="Type your email..." />
            </div>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" id="submit-button" class="btn-color-theme w-100 mb-2">
            <span class="button-text">Verify Email</span>
            <span class="d-none spinner-grow spinner-grow-sm loading-spinner"></span>
            <span class="d-none loading-text">Loading...</span>
            <i class="fa fa-envelope"></i>
        </button>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
