@page
@model MyPortfolio.Pages.AdminPage.IndexModel
@{
}
@section Style{
    <link rel="stylesheet" href="~/css/adminDashboard.css" asp-append-version="true"/>
}
<div class="container-fluid my-5 px-5">
    <div class="row">
        <div class="col-12 mb-5">
            <div class="title-underlined position-relative d-inline">
                <h3 class="text-body font-monospace d-inline fw-bold">ADMIN DASHBOARD</h3>
                <div class="position-absolute bg-color-theme"></div>
            </div>
        </div>
        <div class="col-12 mb-5">
            <h5 class="text-body-secondary font-monospace fw-bold mb-3">Viewers Visited Per Months</h5>
            <div class="shadow bg-white rounded-2 p-2 bg-white overflow-x-scroll" style="height: 400px">
                <div class="h-100">
                    <canvas class="w-100 h-100" id="viewers-per-month"></canvas>
                </div>
            </div>
        </div>
        <div class="col-6 mb-5">
            <h5 class="text-body-secondary font-monospace fw-bold mb-3">GitHub Invitation Status</h5>
            <div class="bg-white p-2 rounded-3 shadow d-flex align-items-center justify-content-center mb-lg-0 mb-4" style="height: 300px">
                <canvas class="h-100" id="request-github-invitation-status"></canvas>
            </div>
        </div>
        <div class="col-6 mb-5">
            <h5 class="text-body-secondary font-monospace fw-bold mb-3">Today's Visitors Count</h5>
            <div class="shadow bg-white d-flex justify-content-center align-items-center rounded-2 p-3 bg-white overflow-x-scroll" style="height: 300px">
                <div id="today-viewers-count" class="d-flex align-items-center justify-content-center  rounded-circle" style="width: 200px; height: 200px">
                    <h1 class="m-0 p-0 color-theme">@Model.ViewerTodayCount.ToString("00")</h1>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5">
            <h6 class="text-center bg-color-theme text-white py-2 bg-opacity-25">Skills Management</h6>
            <div class="d-flex justify-content-end mb-2">
                <button onclick="addUpdateSkill('')" class="rounded-3 btn-color-theme btn-c-sm"><i class="fa fa-plus"></i> New Skill</button>
            </div>

            <div class="p-2 rounded-3 bg-white shadow ">
                <div class="overflow-x-scroll remove-scrollbar px-1">
                    <table id="skill-table-data" class="table table-striped table-hover w-100">
                        <thead class="bg-primary-subtle">
                            <tr>
                                <th>Logo Picture</th>
                                <th>Title</th>
                                <th>Skill Category</th>
                                <th>Percentage</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5">
            <h6 class="text-center bg-color-theme text-white py-2 bg-opacity-25">Service Category Management</h6>
            <div class="d-flex justify-content-end mb-2">
                <button onclick="addUpdateServiceCategory('')" class="rounded-3 btn-color-theme btn-c-sm"><i class="fa fa-plus"></i> New Service Category</button>
            </div>

            <div class="p-2 rounded-3 bg-white shadow ">
                <div class="overflow-x-scroll remove-scrollbar px-1">
                    <table id="service-category-table-data" class="table table-striped table-hover w-100">
                        <thead class="bg-primary-subtle">
                            <tr>
                                <th>Id No#.</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Icon Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5">
            <h6 class="text-center bg-color-theme text-white py-2 bg-opacity-25">Project Management</h6>
            <div class="d-flex justify-content-end mb-2">
                <button onclick="addUpdateProject('')" class="rounded-3 btn-color-theme btn-c-sm"><i class="fa fa-plus"></i> New Project</button>
            </div>

            <div class="p-2 rounded-3 bg-white shadow ">
                <div class="overflow-x-scroll remove-scrollbar px-1">
                    <table id="project-table-data" class="table table-striped table-hover w-100">
                        <thead class="bg-primary-subtle">
                            <tr>
                                <th>Id No#.</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Project Picture Preview</th>
                                <th>RedirectUrl</th>
                                <th>GitHub Repository</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5">
            <h6 class="text-center bg-color-theme text-white py-2 bg-opacity-25">Project Category Management</h6>
            <div class="d-flex justify-content-end mb-2">
                <button onclick="addUpdateProjectCategory('')" class="rounded-3 btn-color-theme btn-c-sm"><i class="fa fa-plus"></i> New Project Category</button>
            </div>

            <div class="p-2 rounded-3 bg-white shadow ">
                <div class="overflow-x-scroll remove-scrollbar px-1">
                    <table id="project-category-table-data" class="table table-striped table-hover w-100">
                        <thead class="bg-primary-subtle">
                            <tr>
                                <th>Id No#.</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Icon Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<partial name="_DeleteModal"/>
<div id="submit-view-component-placeholder"></div>
@section Scripts{
   <partial name="_ValidationScriptsPartial" />
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script src="~/js/adminDashboard.js" asp-append-version="true"></script>
}